
language: php

php:
  - 7.2

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

services:
  - redis-server

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

script: vendor/bin/phpunit
