
.auth {
  @include position( absolute, 0px 0px 0px 0px );
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.auth-statusText {
  @include animation( fadeInOut 2s cubic-bezier(0.1, 0.3, 0.3, 1.0) );
  @include animation-iteration-count(infinite);
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 16px #fff;
}
.auth-pulser {
  @include transform( scale(1) translate(-50%, -50%) );
  @include transform-origin( top left );
  @include animation-name( pulse );
  @include animation-duration( 2s );
  @include animation-iteration-count(infinite);
  @include animation-fill-mode( backwards );
  @include animation-timing-function( cubic-bezier(0.1, 0.3, 0.3, 1.0) );
  @include size( 400px );
  border-radius: 50%;
  border: 10px solid rgba(#fff, 0.7);
  opacity: 1;
  position: absolute; top: 50%; left: 50%;
}
.auth-signIn {
  overflow: hidden;
  padding: 20px;
  text-align: center;
  img {
    display: block;
    margin-bottom: 30px;
    width: 300px; height: auto;
  }
  .auth-signInButton {
    @include transition ( all 250ms ease );
    background: rgba(#fff, 0.08);
    border: 1px solid rgba(#fff,0.65);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(#fff, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    padding: 0.78rem 1.3rem;
    text-decoration: none;
    text-shadow: none;
    width: 300px;
    &:hover {
      background: rgba(#fff, 0.12);
      border: 1px solid rgba(#fff,1);
    }
  }
  .auth-error {
    background: rgba(#000, 0.5);
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px;
  }
}
@include keyframes( fadeInOut ) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes( pulse ) {
  0% {
    @include transform( scale(0.1) translate(-50%, -50%) );
    opacity: 1;
  }
  50% {
    @include transform( scale(1) translate(-50%, -50%) );
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.dashboard-dashboardHeader {
  background: #fff;
  border-bottom: 1px solid rgba(#373570, 0.1);
  color: #fff;
  height: $dashboard-header-height;
  line-height: $dashboard-header-height;
  position: absolute; left: $dashboard-sidebar-width; right: 0;
  h2 {
    color: $dark-blue;
    display: inline-block;
    margin: 0 0 0 20px;
  }
}
.dashboard-searchBar {
  display: inline-block;
  label[for=galileo] { position: relative; }
  .dashboard-telescope {
    @include textfield();
    border-radius: 15px;
    font-size: 0.9rem;
    height: 30px;
    padding-left: 34px;
    position: relative; top: -4px; left: 20px;
    width: 300px;
    @include placeholder {
      color: rgba($dark-steel, 0.5);
    }
    &:focus + .fa {
      color: rgba($dark-steel, 0.8);
    }
  }
  .fa {
    color: rgba($dark-steel, 0.5);
    position: absolute; top: -1px; left: 34px;
    z-index: 11;
  }
}

.dashboard {
  background: #fafafa;
  overflow-y: scroll;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}

.dashboard-editTagTrigger {
  @include transition ( color 150ms linear );
  color: lighten($dark-blue, 30%);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  margin-left: 5px;
  margin-right: 10px;
  position: relative; top: -3px;
  &:hover {
    color: lighten($dark-blue, 15%);
  }
  .fa { pointer-events: none; }
}
.dashboardHeader-editTagDropdown {
  @include transition ( all 250ms ease );
  @include transform( translate(-50%, -10px) );
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(#373570, 0.1);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08);
  margin-top: 10px;
  opacity: 0;
  pointer-events: none;
  position: absolute; top: 100%; left: 50%;
  z-index: 999;
  padding: 10px;
  width: 200px;
  &::before {
    @include transform( translateX(-50%) rotate(45deg) );
    @include size( 12px );
    background: #fff;
    background-clip: padding-box;
    border-top: 1px solid rgba(#373570, 0.1);
    border-left: 1px solid rgba(#373570, 0.1);
    content: '';
    position: absolute; top: -6px; left: 50%;
    z-index: 99;
  }
  @include transform( translate(-50%, 0) );
  opacity: 1;
  pointer-events: auto;
  input[type=text] {
    @include textfield();
    @include size( 100% 34px );
  }
  button {
    display: block;
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
    line-height: 1;
    margin-top: 5px;
    padding: 0.58rem;
    text-transform: uppercase;
    width: 100%;
  }
}
