@import 'dashboard_login';
@import 'dashboard_sidebar';
@import 'dashboard_payment_modal';
.dashboard {
  background: #fafafa;
  overflow-y: scroll;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  .user-settings-modal { width: 500px; }
  .dashboard-header {
    background: #fff;
    border-bottom: 1px solid rgba(#373570, 0.1);
    color: #fff;
    height: $dashboard-header-height;
    line-height: $dashboard-header-height;
    position: absolute; left: $dashboard-sidebar-width; right: 0;
    h2 {
      color: $dark-blue;
      display: inline-block;
      margin: 0 0 0 20px;
    }
    .tag-settings-trigger {
      @include transition ( color 150ms linear );
      color: lighten($dark-blue, 30%);
      display: inline-block;
      font-size: 0.9rem;
      line-height: 1;
      margin-left: 5px;
      margin-right: 10px;
      top: -3px;
      &:hover {
        color: lighten($dark-blue, 15%);
      }
      .dropdown {
        padding: 10px;
        width: 200px;
        .frm-tagname {
          input[type=text] {
            @include textfield();
            @include size( 100% 34px );
          }
        }
        button {
          display: block;
          font-size: 0.7rem;
          letter-spacing: 0.08rem;
          line-height: 1;
          margin-top: 5px;
          padding: 0.58rem;
          text-transform: uppercase;
          width: 100%;
        }
      }
      ul {
        list-style-type: none;
        padding: 0; margin: 0;
        margin-top: 5px;
        width: 100%;
        li {
          display: block;
          font-size: 0.8rem;
          width: 100%;
          a {
            color: $dark-blue;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            &:hover {
              background: $primary;
              color: #fff;
            }
          }
        }
      }
    }
    label[for=galileo] {
      position: relative;
      .telescope {
        @include textfield();
        border-radius: 15px;
        font-size: 0.9rem;
        height: 30px;
        padding-left: 34px;
        position: relative; top: -4px; left: 20px;
        width: 300px;
        @include placeholder {
          color: rgba($dark-steel, 0.5);
        }
        &:focus + .fa {
          color: rgba($dark-steel, 0.8);
        }
      }
      .fa {
        color: rgba($dark-steel, 0.5);
        position: absolute; top: -1px; left: 34px;
        z-index: 11;
      }
    }

    .loading-status {
      display: inline-block;
      position: relative; left: 30px; top: -3px;
      color: #658399;
    }
    .user-dropdown-trigger {
      color: lighten($dark-blue, 30%);
      display: inline-block;
      float: right;
      margin-right: 40px;
      .user-avatar {
        @include size( 40px );
        border-radius: 50%;
        display: inline-block;
        pointer-events: none;
        position: relative; top: 10px;
        margin-right: 5px;
      }
      .user-username {
        font-size: 0.9rem;
        pointer-events: none;
        position: relative; top: -5px;
        + i.fa {
          font-size: 0.75rem;
          pointer-events: none;
          position: relative; top: -6px; left: 3px;
        }
      }
      .dropdown {
        width: 178px;
        top: 90%;
        .dropdown-list {
          line-height: 1;
          list-style-type: none;
          margin: 12px 0; padding: 0;
          li {
            display: block;
            font-size: 0.9rem;
            &:last-of-type {
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            a {
              @include size( 100% );
              color: $main-text-color;
              display: block;
              padding: 10px 20px;
              text-decoration: none;
              &:hover {
                background: $steel-blue;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
.dashboard-repos {
  position: absolute; top: $dashboard-header-height; bottom: 0; left: $dashboard-sidebar-width;
  background: #fafafa;
  overflow-y: auto;
  width: $dashboard-repos-list-width;
  .spinner {
    @include transform( translate(-50%, -50%) );
    position: absolute; top: 50%; left: 50%;
  }
}
.repos {
  border-right: 1px solid rgba(#373570, 0.08);
  box-shadow: 1px 0 3px rgba(#373570, 0.08);
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  .repo {
    background: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(#373570, 0.1);
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 20px;
    &:hover {
      background: #fcfcfc;
    }
    &.active {
      background: #fafafa;
      box-shadow: inset 0 1px 3px rgba(#000, 0.1)
    }
    .repo-name {
      color: $primary;
      font-size: 1rem;
      margin: 0 0 10px 0;
    }
    .repo-description {
      color: $dark-blue;
      font-size: 0.8rem;
      line-height: 1.5;
    }
    .repo-tags {
      list-style-type: none;
      margin: 8px 0 3px 0; padding: 0;
      li {
        @include transition ( background 150ms linear );
        background: lighten($dark-blue, 30%);
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.7rem;
        font-weight: 600;
        line-height: 1;
        margin-right: 3px;
        padding: 3px 8px;
        &:hover { background: lighten($dark-blue, 15%); }
      }
    }
    .repo-stats {
      color: lighten($dark-blue, 30%);
      font-size: 0.7rem;
      margin-top: 15px;
      white-space: nowrap;
      .repo-stat {
        display: inline-block;
        margin-right: 12px;
        font-weight: bold;
        i.fa { margin-right: 2px; }
        &.link a {
          color: lighten($dark-blue, 30%);
          &:hover { text-decoration: none; }
        }
      }
    }
  }
}

.dashboard-repo-details {
  background: #fff;
  color: $dark-blue;
  position: absolute; top: $dashboard-header-height; left: $dashboard-sidebar-width + $dashboard-repos-list-width; right: 0; bottom: 0;
  min-width: 550px;
  .empty-placeholder {
    @include transform( translateY(-50%) );
    color: lighten($dark-blue, 30%);
    font-weight: bold;
    pointer-events: none;
    position: absolute; top: 50%; left: 0;
    text-align: center;
    width: 100%;
  }
  .manage-star {
    @include size( 100% 45px );
    background: #fafafa;
    border-bottom: 1px solid rgba(#373570, 0.1);
    box-shadow: 0 1px 3px rgba(#373570, 0.08);
    line-height: 45px;
    position: absolute;
    z-index: 99;
    label {
      color: $dark-blue;
      font-size: 12px;
      font-weight: bold;
      margin-left: 20px;
      position: relative; top: -2px;
    }
    button:not(.btn-flat) {
      @include appearance( none );
      background: #fff;
      background-clip: padding-box;
      border-radius: 3px;
      border: 1px solid rgba(#373570, 0.1);
      box-shadow: 0 1px 1px rgba(0,0,0,0.08);
      display: inline-block;
      font-family: $sans;
      font-size: 0.7rem;
      font-weight: bold;
      height: 28px;
      line-height: 0.7;
      margin-right: 10px;
      outline: none;
      padding: 0.58rem;
      position: relative; top: -1px;
      .fa { margin-right: 2px; }
      &:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,0.08), inset 0 -1px 1px #eee;
      }
      &:active {
        background: #eee;
        box-shadow: 0 1px 0 #fff, inset 0 1px 3px #eaeaea;
      }
    }
    .edit-star-tags {
      display: inline-block;
      position: relative;
      margin-left: 20px;
      .tags-dropdown {
        @include ng-tag-dropdown-animation();
        background: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(#373570, 0.1);
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.08);
        margin-top: 2px;
        padding: 15px;
        position: absolute; top: 100%; left: 50%;
        width: 250px;
        &::before {
          @include transform( translateX(-50%) rotate(45deg) );
          @include size( 12px );
          background: #fff;
          background-clip: padding-box;
          border-top: 1px solid rgba(#373570, 0.1);
          border-left: 1px solid rgba(#373570, 0.1);
          content: '';
          position: absolute; top: -6px; left: 50%;
          z-index: 99;
        }
        .save-tags {
          display: block;
          font-size: 0.7rem;
          letter-spacing: 0.08rem;
          line-height: 1;
          margin-top: 15px;
          padding: 0.58rem;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
    .clone-url {
      float: right;
      position: relative; right: 20px;
      > label { margin-right: 4px; }
      input[type=text] {
        @include textfield();
        @include size( 280px 34px );
        font-size: 0.8rem;
        position: relative; top: -2px;
      }
    }
  }
  .readme-loading-overlay {
    @include size( 100% );
    background: rgba(#fff, 0.9);
    position: absolute; top: 0; left: 0;
    z-index: 99;
  }
  .repo-readme {
    font-size: 0.9rem;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    position: absolute; top: 45px; left: 0; bottom: 0; right: 0;
    word-wrap: break-word;
    h1:first-of-type { margin-top: 0; }
    a {
      color: $primary;
      &:hover { text-decoration: none; }
    }
    pre {
      border: 1px solid #eee;
      padding: 0 0.5em;
    }
    p code { font-size: 0.9rem; }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
