.login-status {
  @include position( absolute, 0px 0px 0px 0px );
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  .login-status-text {
    @include transform( translateY(-50%) );
    @include animation( fadeInOut 2s cubic-bezier(0.1, 0.3, 0.3, 1.0) );
    @include animation-iteration-count(infinite);
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 1;
    position: absolute; top: 50%; left: 0;
    text-align: center;
    text-shadow: 0 0 16px #fff;
    width: 100%;
  }
  .pulser {
    @include transform( scale(1) translate(-50%, -50%) );
    @include transform-origin( top left );
    @include animation-name( pulse );
    @include animation-duration( 2s );
    @include animation-iteration-count(infinite);
    @include animation-fill-mode( backwards );
    @include animation-timing-function( cubic-bezier(0.1, 0.3, 0.3, 1.0) );
    @include size( 400px );
    border-radius: 50%;
    border: 10px solid rgba(#fff, 0.7);
    opacity: 1;
    position: absolute; top: 50%; left: 50%;
  }
  .login-container {
    @include transform(translate(-50%, -50%) );
    position: absolute; top: 50%; left: 50%;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width: 340px;
    img {
      display: block;
      margin: 0 auto 30px auto;
      width: 300px; height: auto;
    }
    .auth-error {
      background: rgba(#000, 0.5);
      border-radius: 6px;
      margin-bottom: 30px;
      padding: 20px;
    }
    .btn-auth {
      @include transition ( all 250ms ease );
      background: rgba(#fff, 0.08);
      border: 1px solid rgba(#fff,0.65);
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(#fff, 0.3);
      color: #fff;
      display: inline-block;
      font-size: 2rem;
      padding: 0.78rem 1.3rem;
      text-decoration: none;
      text-shadow: none;
      width: 300px;
      &:hover {
        background: rgba(#fff, 0.12);
        border: 1px solid rgba(#fff,1);
      }
    }
  }

}
@include keyframes( fadeInOut ) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes( pulse ) {
  0% {
    @include transform( scale(0.1) translate(-50%, -50%) );
    opacity: 1;
  }
  50% {
    @include transform( scale(1) translate(-50%, -50%) );
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
