<div class="dashboard">
  <div ng-include="'/templates/partials/dashboardHeader.html'"></div>
  <div class="dashboard-main">
    <!-- <div ng-include="'/templates/partials/dashboardSidebar.html'"></div> -->
    <div ng-include="'/templates/partials/dashboardRepos.html?foo=asjkd'"></div>
    <!-- <div ng-include="'/templates/partials/dashboardRepoDetails.html'"></div> -->
  </div>
  <!-- <div ng-include="'/templates/partials/dashboardFlashMessage.html?'"></div>
  <div ng-include="'/templates/partials/dashboardUserSettings.html?'"></div> -->
</div>
