.auth {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  background: url(../../../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-statusText {
  animation: fadeInOut 2s cubic-bezier(0.1, 0.3, 0.3, 1.0);
  animation-iteration-count: infinite;
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 16px #fff;
}
.auth-pulser {
  transform: scale(1) translate(-50%, -50%);
  transform-origin: top left;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1.0);
  width: 400px; height: 400px;
  border-radius: 50%;
  border: 10px solid rgba(#fff, 0.7);
  opacity: 1;
  position: absolute; top: 50%; left: 50%;
}
.auth-signIn {
  overflow: hidden;
  padding: 20px;
  text-align: center;
  img {
    display: block;
    margin-bottom: 30px;
    width: 300px; height: auto;
  }
  .auth-error {
    background: rgba(#000, 0.5);
    border-radius: 6px;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
  }
  .auth-signInButton {
    transition: background 250ms ease, border 250ms ease;
    background: rgba(#fff, 0.08);
    border: 1px solid rgba(#fff,0.65);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(#fff, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    padding: 0.78rem 1.3rem;
    text-decoration: none;
    text-shadow: none;
    width: 300px;
    &:hover {
      background: rgba(#fff, 0.12);
      border: 1px solid rgba(#fff,1);
    }
  }
  .auth-error {
    background: rgba(#000, 0.5);
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse  {
  0% {
    transform: scale(0.1) translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
