@import "application/components/user_dropdown";
.dashboard-dashboardHeader {
  background: #fff;
  border-bottom: 1px solid rgba(#373570, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  height: $dashboard-header-height;
  position: absolute; left: $dashboard-sidebar-width; right: 0;
  h2 {
    color: $dark-blue;
    display: inline-block;
    margin: 0 0 0 20px;
  }
}
.dashboard-searchBar {
  display: inline-block;
  margin-left: 25px;
  label[for=galileo] { position: relative; }
  .dashboard-telescope {
    @include textfield();
    border-radius: 15px;
    font-size: 0.9rem;
    height: 30px;
    padding-left: 34px;
    width: 300px;
    &::placeholder {
      color: rgba($dark-steel, 0.5);
    }
    &:focus + .fa {
      color: rgba($dark-steel, 0.8);
    }
  }
  .fa {
    color: rgba($dark-steel, 0.5);
    position: absolute; top: 2px; left: 12px;
    z-index: 11;
  }
}

.dashboard-status {
  color: $steel-blue;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-left: 25px;
  .status-spinner {
    width: 16px; height: 16px;
    animation: spin 1.2s backwards infinite linear;
    border: 2px solid;
    border-radius: 50%;
    border-top-color: $steel-blue;
    color: rgba($steel-blue, 0.5);
    margin-right: 5px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
