@import "application/components/dashboard_header";
@import "application/components/dashboard_sidebar";
@import "application/components/notifier";

.router-transition {
  transition: opacity 500ms $easeOutCubic;
  opacity: 1;
}
.router-enter, .router-leave {
  opacity: 0;
}

.dashboard {
  background: #fafafa;
  overflow-y: scroll;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}
