.dashboard-sortTagsDropdownMenu {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(#373570, 0.1);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08);
  position: absolute; top: 100%; left: 95%;
  width: 175px;
  z-index: 999;
  &::before {
    transform: translateX(-50%) rotate(45deg);
    @include size( 12px );
    background: #fff;
    background-clip: padding-box;
    border-top: 1px solid rgba(#373570, 0.1);
    border-left: 1px solid rgba(#373570, 0.1);
    content: '';
    position: absolute; top: -6px; left: 85%;
    z-index: 99;
  }
  &-transition {
    transition: all 250ms $easeOutCubic;
    transform: translate3d(-100%, 2px, 0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  &-enter, &-leave {
    transform: translate(-100%, -10px) scale(0.95);
    opacity: 0;
    visibility: hidden;
  }
}

.dashboard-sortTagsDropdownMenuItems {
  line-height: 1;
  list-style-type: none;
  margin: 12px 0; padding: 0;
  .dashboard-sortTagsDropdownMenuItem {
    display: block;
    font-size: 0.7rem;
    color: $main-text-color;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    &:hover {
      background: $steel-blue;
      color: #fff;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
