.select2-dropdown {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(#000, 0.08);
  box-shadow: 0 1px 3px rgba(#000, 0.05);
}
.select2-results__option {
  font-size: 0.9rem;
  padding: 10px;
  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: lighten($dark-blue, 30%);
  color: #fff;
}
