@import "application/shared/normalize";
@import "application/shared/variables";
@import "application/shared/modules/btn";
@import "application/shared/modules/input";
@import "application/shared/modules/dropdown";
@import "application/shared/modules/toggle_switch";
@import "application/shared/modules/modal";
@import "application/shared/modules/flash_message";
@import "application/shared/modules/tags_input";
@import "application/dashboard/dashboard_global";
@import "application/components/auth";
@import "application/components/dashboard";
@import "application/components/edit_tag_dropdown";
@import "application/components/tag_editor";
@import "~sweetalert/dev/sweetalert";
@import "~sweetalert/themes/facebook/facebook";

*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: $sans;
  font-size: 16px;
  min-height: 100%;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
