.dashboard-flash-message {
  position: fixed; bottom: 20px; right: 20px;
  width: $dashboard-sidebar-width;
  z-index: 99999;
  .flash-message-inner {
    width: 100%; height: 100%;
    background: $primary;
    border-radius: 3px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 20px 30px 20px 20px;
    .dismiss-flash-message {
      transform: translateY(-50%);
      color: darken($primary, 12%);
      cursor: pointer;
      font-size: 1.2rem;
      margin-top: -1px;
      position: absolute; top: 50%; right: 10px;
      text-shadow: 0 1px 0 rgba(#fff,0.12);
      &:hover {
        color: darken($primary, 16%);
      }
    }
    &.error {
      background: $red;
      .dismiss-flash-message {
        color: darken($red, 12%);
        &:hover {
          color: darken($red, 16%);
        }
      }
    }
  }
}
