.switch {
  label {
    @include transition ( all 400ms cubic-bezier(0.51,.92,.24,1.15) );
    background: #b0b6ba;
    color: rgba(#000, 0);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 45px;
    border-radius: 11px;
    position: relative;
    &:before {
      @include transition ( all 400ms cubic-bezier(0.51,.92,.24,1.15) );
      @include transform( translateX(-100%) );
      color: #b0b6ba;
      content: "Off";
      font-size: 0.7rem;
      font-weight: bold;
      letter-spacing: 1px;
      padding-right: 5px;
      position: absolute; top: 5px; left: 0;
      text-align: right;
      text-transform: uppercase;
    }
    &:after {
      @include transition ( all 400ms cubic-bezier(0.51,.92,.24,1.15) );
      @include transform( translate3d(0,0,0) );
      @include size( 18px );
      background: #fff;
      border-radius: 50%;
      content: "";
      position: absolute; top: 2px; left: 2px;
    }
  }
  input[type=checkbox] {
    pointer-events: none;
    visibility: hidden;
    &:checked + label {
      background: $primary;
      &:before {
        color: $primary;
        content: "On";
      }
      &:after {
        @include transform( translate3d(23px,0,0) );
      }
    }
  }
}