<div class="dashboard-sidebar">
  <div class="dashboard-sidebar-header">
    <h3>Astral</h3>
  </div>
  <div class="sidebar-header">
    <h3 class="sidebar-header-text">Stars</h3>
  </div>
  <ul class="dashboard-list sidebar-stars">
    <li class="all-stars dashboard-list-item" ng-click="setCurrentTag()" ng-class="(currentTag || untaggedFilter) ? '' : 'selected'"><i class="fa fa-inbox"></i> All Stars</li>
    <li class="untagged-stars dashboard-list-item" ng-click="filterByUntagged()" ng-class="untaggedFilter ? 'selected' : ''"><i class="fa fa-star-o"></i> Untagged Stars</li>
  </ul>
  <div class="sidebar-header tags-header">
    <h3 class="sidebar-header-text">Tags</h3>
    <div class="tag-button-group">
      <button class="tag-button-group-item">Add</button>
      <button class="tag-button-group-item">Edit</button>
      <button class="tag-button-group-item">Sort</button>
    </div>
  </div>
  <form class="tag-form" ng-show="addingTag" ng-submit="addTag()" set-focus-if="addingTag">
    <input type="text" name="name" ng-model="newTag.name" placeholder="Tag name">
    <button type="submit">Save</button>
  </form>
  <ul class="dashboard-list sidebar-tags" ui-sortable="sortableOptions" ng-model="tags">
    <li ng-repeat="tag in tags track by tag.id" class="dashboard-list-item tag droppable ng-enter-active" ng-class="currentTag.id === tag.id ? 'selected' : ''" ng-click="setCurrentTag(tag)" data-tag-id="{{tag.id}}"><i class="fa fa-tag"></i>
      <span class="tag-name">{{tag.name}}</span>
      <span class="tagged-count" ng-show="tag.stars">{{tag.stars.length}}</span>
    </li>
  </ul>
</div>
